header {
    border-color: gold;
    border-width: thick;
    border-style: groove;
}

.navigation {
    font-family: 'Arial', "Helvetica Nue", Helvetica, sans-serif;
    border-color: hotpink;
    border-width: thick;
    border-style: double;
}

.about-nav {
    border-color: lawngreen;
    border-width: thick;
    border-style: solid;
}

.portfolio-nav {
    border-color: skyblue;
    border-width: thick;
    border-style: dashed;
}

.contact-nav {
    border-color: black;
    border-width: thick;
    border-style: dotted;
}

.main-heading {
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: purple;
    border-width: thick;
    border-style: dashed;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: red;
    border-width: thick;
    border-style: solid;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.main-content {
    background-color: #ffffff;
    border-color: green;
    border-width: thick;
    border-style: dotted;
    font-family: 'Arial', "Helvetica Nue", Helvetica, sans-serif;
}

.profile-image {
    border-color: maroon;
    border-width: thick;
    border-style: inset;
}

.aboutme-info {
    border-color: plum;
    border-width: thick;
    border-style: outset;
}